<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!--Local CSS-->
    <style>
        h1{
            font-family: 'Poiret One', cursive;
            font-size: 60px;
        }
        body {
            background: #ffff00;
        }
    </style>
    <title>Fake Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div row="col-xs-6">
                <h1>Welcome to the Fake Sign Up page.</h1>
                <form method="post">
                    <input type="submit" class="btn btn-default btn-lg"
                       value="Proceed to sign up">
                </form>
            </div>
        </div>
    </div>
</body>
</html>