<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-2.2.4.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Athiti" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!--Local CSS-->
    <style>
        h1{
            font-family: 'Poiret One', cursive;
            font-size: 60px;
        }
        h2{
            font-family: 'Lalezar', cursive;
            font-size: 40px;
            margin-top: 120px;
        }
        .container{
            float: none;
        }
        body {
            background: #ffff00;
        }
        .error {
            color: red;
            font-family: 'Athiti', sans-serif;
            font-size: 25;
            font-weight: bold;
        }
    </style>
    <title>Sign Me Up</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
            <h1>Sign me up</h1>
            <form method="post">
                <div class="form-group">
                    <label for="user">Name:</label>
                    <input type="text" class="form-control" id="user"
                           name="username" placeholder="Enter Username"
                           value="{{ old_username }}">
                    <div class="error">{{ username_error }}</div>
                </div>
                <div class="form-group">
                    <label for="pass">Password:</label>
                    <input type="password" class="form-control" id="pass"
                           placeholder="Enter Password" name="password">
                    <div class="error">{{ password_error }}</div>
                </div>
                <div class="form-group">
                    <label for="ver">Password (verify):</label>
                    <input type="password" class="form-control" id="ver"
                           placeholder="Re-enter Password" name="verify">
                    <div class="error">{{ verify_error }}</div>
                </div>
                <div class="form-group">
                    <label for="emailaddress">Email Address:</label>
                    <input type="text" class="form-control" id="emailaddress"
                           placeholder="Enter Email" name="email"
                           value="{{ old_email }}">
                    <div class="error">{{ email_error }}</div>
                </div>
                <input type="submit" class="btn btn-primary">
            </form>
        </div>
            <div class="col-xs-6">
                <h2>FYI, you're signing up for the dark side. (Not really, this
                    is just for learning purposes, but thanks anyway!)</h2>
            </div>
        </div>
    </div>
</body>
</html>