body {
    padding-top: 70px;
    background-color: black;
}
h1 {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
}
.title {
    color: yellow;
    font-family: 'Nunito', sans-serif;
}
.year {
    color: yellow;
    font-family: 'Nunito', sans-serif;
}
h5 {
    color: #e6e600;
}
.description {
    color: #e6f2ff;
}
p#jumbo_info {
    color: black;
}
